@import '../../../src//responsive.scss';

.butn-field1 {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #f96822;
    border: 1px solid #f96822!important;
    font-weight: 600;
    &:hover {
        background-color: white;
        color: #f96822ed;
    }
    &:focus {
        background-color: #f96822!important;
        border: none!important;
        color: white!important;
    }
}